<footer>
    <div class="copy">
    © Coding Ninjas.All Nights Reserved
    </div>

    <div class="container-footer">
    <div class="home">
        <a href="/"> Home </a>
    </div> 
    <% if(locals.user){ %>
    <div class="profile">
        <a href="/users/profile/<%= locals.user.id %>"> Profile </a>
    </div>
    <% } %>
       
    </div>

</footer>
