<header>
    <div class="head">
        Codeial
    </div>

    <% if(locals.user){ %>
        
    <div class="head-container">
        <div class="text">
            <a href="/users/profile/<%= locals.user.id %>">
                <%= user.name %>
            </a>
        </div>

        <div class="text">
            <a href="/users/sign-out">Sign Out</a>
        </div>
    </div>

    <% }else{ %>
    <div class="head-container">
        <div class="text">
            <a href="/users/sign-in">Sign In</a>
        </div>
        <div class="text">
            <a href="/users/sign-up">Sign Up</a>
        </div>
    </div>

    <% } %>

</header>