<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="<%= assetPath('css/forgotten_password.css') %>">

<div class="conatiner">

    <div class="card">
        <div class="card-body">

            <h5 class="card-title"> Find Your Account </h5>

            <div class="text">
                <form action="/users/find-user" method="POST">
                    <label for="find-email" class="small"> Please enter your email address to search for your
                        account</label><br>
                    <input type="email" name="email" id="find-email" placeholder="Your Email" required>
                    <div class="button">
                        <div>
                            <button type="submit" class="search">search</button>
                            <a href="/users/sign-in"><button type="button">cancel</button></a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>