<h1>
    Codeial / <%= title %>
</h1>

<section>
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Whats on your mind.. Type Here !!"></textarea>
        <input type="submit" value="POST">
    </form>
</section>