<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Codial / coming from views posts 
            static file :)
        </h1>
    </body>
</html>