<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="<%= assetPath('css/sign_in.css') %>">

<div class="container-signIn login-container">
    <div class="row">
        <div class="col-md-6 login-form">

            <h1>Sign In</h1>

            <form action="/users/create-session" method="POST">
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email Or Username" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btnsubmit" value="Sign-In">
                </div>
                <div class="form-group">
                    <a href="#" class="btnForgetPwd">Forget Password</a>
                </div>

                <div class="social-login ">
                    <div class="social-login-label">
                        <span class="label px-3">or connect with</span>
                    </div>
                    <div class="social-login-body py-2">

                            <a href="/users/auth/google">   
                                <span class="google style-same">      
                                   <img class="logo-google" src="https://hrcdn.net/fcore/assets/google-colored-20b8216731.svg" alt="Login With Google">
                                Login with Google
                                </span>
                            </a>

                           <a href="/users/auth/google">   
                                <span class="facebook style-same">      
                                   <img class="logo-facebook" src="https://cdn.clipart.email/5f08d03b5bb3881f12e99ce8ba8e624f_free-facebook-transparent-icon-download-free-clip-art-free-clip-_2023-2024.png" alt="Login With Facebook">
                                Login with Facebook
                                </span>
                            </a>
                    </div>
                </div>

                <div class="logo-container">
                    <div class="login-logo">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>