#layout-main{
    background-color: #eeeeee;
}

#home-container{
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;

    .empty{
        width:20vw;
        min-width: 100px;
        height: 400px;

        .cover-picture{
            height: 80px;
            width: 100%;
            background: linear-gradient(14deg, rgba(34,193,195,1) 27%, rgba(253,187,45,1) 90%);
        }

        .locals-user-link{
            margin: auto;
            margin-top: -35px;
            margin-bottom: 5px;
            color: black;
            border-bottom: 1px solid lightgray;

                img{
                    margin: auto;
                    border: 2px solid white;
                }
        }

        .friendlist{
            padding: 10px 25px 10px 25px;
            text-transform: capitalize;

            .length{
                text-transform: lowercase;
                float: right;
            }
        }

    }

    .posts{
        max-width: 550px;
    }

    #user-friends{
        text-transform: capitalize;
        width: 30%;
        padding: 10px;
        height: 100%;

        .friends{
            height: 40vh;
            border-bottom: 1px solid lightgray;
        }

        .users{
            margin-top: 4%;
        }
    }

    a:hover {
        text-decoration: none;
        }
}

