
#layout-main{
    background-color: #eeeeee;
}

#home-container{
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;

    .empty{
        width:240px;
      

        .inner{
            position: fixed;
            height: 400px;
            width: 260px;
        }

        .cover-picture{
            height: 80px;
            width: 100%;
            background: linear-gradient(14deg, rgba(34,193,195,1) 27%, rgba(253,187,45,1) 90%);
        }

        .locals-user-link{
            margin: auto;
            margin-top: -35px;
            margin-bottom: 5px;
            color: black;
            border-bottom: 1px solid lightgray;

                img{
                    margin: auto;
                    border: 2px solid white;
                }
        }

        .friendlist{
            padding: 10px 25px 10px 25px;
            text-transform: capitalize;

            .length{
                text-transform: lowercase;
                float: right;
            }
        }

    }

    .posts{
        max-width: 500px;

        .posts-size{
            max-width: 500px;
        }
    }

    #user-friends{
        text-transform: capitalize;
        width: 30%;
        padding: 10px;
        
        .inner{
            width: 28%;
            height: 80vh;
            position: fixed;
            overflow-y: scroll;

            .friends{
                height: 260px;
                border-bottom: 1px solid lightgray;
                margin-bottom: 30px;
            }

            .box-size{
                height: 260px;
                overflow-y: scroll;
            }

            .box-size::-webkit-scrollbar { 
                display: none; 
            }

            .users{
                margin-top: 4%;
            }

        }

        .inner::-webkit-scrollbar { 
            display: none; 
        }

    }

    a:hover {
        text-decoration: none;
        }
}


.welcome{

    .img-fluid{
        width: 100%;
    }

    .welcome_text{
        font-family: 'Times New Roman', Times, serif;
        font-size: x-large;
        font-weight: bold;
        color: white;
        position: absolute;
        top:40%;
        left: 35%;

        .underline{
            margin-left: 60px;
        }
    }
}



@media only screen and (max-width: 882px) {

    .empty{
        display: none;
    }

}


@media only screen and (max-width: 1140px) {

    #user-friends{
        display:none;
    }

    #home-container{
        justify-content: space-around;
    }

}

@media only screen and (max-width: 420px) {

    .welcome_text{
       left: 25% !important;
       color: black !important;

       span{
           display: block;
       }

       .underline{
           margin-left: -20px !important;
       }
    }

    .posts-size{
        width: 95vw !important;
        margin: 0px !important;
    }

    #home-container {
        padding-top: 3.5% !important;
    }
}

