body{
    position: absolute;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    
    #layout-main{
        width: 98.7vw;
        padding-top: 60px;
        height: 100%;
        min-height: 100vh;
    }
}


@media only screen and (max-width: 420px) {

    #layout-main{
        width: 100% !important;
    }

}