#layout-main{
    background-color:  #eeeeee;
}

.container{
    padding-top: 10%;

    .card{
        border: 1px solid lightgray;
        margin: auto !important;
        width: 600px;
        height: 350px;

        .card-title{
            padding-bottom: 10px;
            border-bottom: 1px solid lightgray;
        }

        .name{
            margin-top: 6px;
            font-size: large;
            text-align: center;
            margin-bottom: 20px;
        }

        form{
            margin: auto;
            margin-left: 33%;

            input{
                display: block;
                margin-top: 5px;
                height: 25px;
                width: 200px;
                font-size: smaller;
            }

        }

        .button{
            width: 95%;
            position: absolute;
            bottom: 45px;
            left: 10px;
            border-top: 1px solid lightgray;

            div{
                position: absolute;
                right: -5px;
                top: 5px;
            }

            button{
                text-transform: capitalize;
                padding: 4px 10px 4px 10px;
                font-weight: bold;
                border: none;
                border: 1px solid lightgray;
                border-radius: 3px;
            }

            button:hover{
                cursor: pointer;
            }

            button:focus{
                outline: none;
            }

            .send_email{
                background-color: #0c0c9c;
                color: white;
            }
        }
    }
}

@media only screen and (max-width: 420px) {


    .container{
        padding: 0 !important;
        padding-top: 30% !important;
    }

    .card{
        width: 95vw !important;
    }

    #newpassword{
        margin-left: 15vw !important;

        input{
            border: none;
            border-bottom: 1px solid darkgray;
        }
    }

}