body{
background-color: #eeeeee;
      

    a:hover{
        text-decoration: none;
    }

    .user-profile{
        height: 300px;
        width: 850px;
        margin-left: 40px;
        border-radius: 0px !important;

        .cover-image{
            height: 85%;
            width: 100%;
            background: linear-gradient(14deg, rgba(34,193,195,1) 27%, rgba(253,187,45,1) 90%);
            
        }

        .profile-picture{
            position: absolute;
            bottom: 20px;
            left: 20px;
            border: 4px solid white;
            border-radius: 100px;
        }

        .name{
            position: absolute;
            bottom: 70px;
            left:200px;
            font-size: xx-large;
            font-weight: bolder;
            color: white;
            font-family: sans-serif;
            text-shadow: 6px 0px 28px rgba(150, 150, 154, 1);
            text-transform: capitalize;
        }

        .side-button{
            position: absolute;
            bottom: 70px;
            right: 20px;
        
            button{
                border: 1px solid rgba(0, 0, 0, 0.562);
                color: rgba(0, 0, 0, .75);
                font-weight: bold;
                border-radius: 2px;
                padding: 3px 10px 3px 10px;
            }

            button:hover{
                cursor: pointer;
            }

            .close{
                border: none;
            }

            .close:focus{
                outline: none;
            }
        }

        .bottom-list{
            font-family: sans-serif;
            width: 100%;
            height: 15%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;

            .item{
                border-left: 1px solid lightgray;
                padding: 10px;
                padding-left: 20px; 
                padding-right: 20px;
               
                button{
                    text-transform: capitalize;
                    border: none;
                    background: none;
                    color: #080877;
                    font-weight: bold;
                }

                button:hover{
                    cursor: pointer;
                }

                button:focus{
                    outline: none;
                }
            }

            .item:hover{
                background: darken($color: #86868611, $amount: 100);
            }
        }
    }

    .tl{
      display: inline-block;
      margin-left: 20%;
      padding: 15px;
      width: 650px;
    }
}