ul {
  padding: 0px !important; }

.comment {
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px; }
  .comment a {
    color: #090977; }
  .comment .comment-content {
    width: auto;
    text-align: start;
    background-color: #F2F3F5;
    padding: 10px;
    padding-top: 8px;
    border-radius: 25px; }
  .comment .details {
    color: transparent;
    font-size: smaller; }

.comment:hover .details {
  color: lightgray; }

.like-button {
  margin-left: 60px; }

@media only screen and (max-width: 420px) {
  .details {
    color: #868585 !important; } }
