#layout-main {
  background-color: #eeeeee; }

#home-container {
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-between; }
  #home-container .empty {
    width: 240px; }
    #home-container .empty .inner {
      position: fixed;
      height: 400px;
      width: 260px; }
    #home-container .empty .cover-picture {
      height: 80px;
      width: 100%;
      background: linear-gradient(14deg, #22c1c3 27%, #fdbb2d 90%); }
    #home-container .empty .locals-user-link {
      margin: auto;
      margin-top: -35px;
      margin-bottom: 5px;
      color: black;
      border-bottom: 1px solid lightgray; }
      #home-container .empty .locals-user-link img {
        margin: auto;
        border: 2px solid white; }
    #home-container .empty .friendlist {
      padding: 10px 25px 10px 25px;
      text-transform: capitalize; }
      #home-container .empty .friendlist .length {
        text-transform: lowercase;
        float: right; }
  #home-container .posts {
    max-width: 500px; }
    #home-container .posts .posts-size {
      max-width: 500px; }
  #home-container #user-friends {
    text-transform: capitalize;
    width: 30%;
    padding: 10px; }
    #home-container #user-friends .inner {
      width: 28%;
      height: 80vh;
      position: fixed;
      overflow-y: scroll; }
      #home-container #user-friends .inner .friends {
        height: 260px;
        border-bottom: 1px solid lightgray;
        margin-bottom: 30px; }
      #home-container #user-friends .inner .box-size {
        height: 260px;
        overflow-y: scroll; }
      #home-container #user-friends .inner .box-size::-webkit-scrollbar {
        display: none; }
      #home-container #user-friends .inner .users {
        margin-top: 4%; }
    #home-container #user-friends .inner::-webkit-scrollbar {
      display: none; }
  #home-container a:hover {
    text-decoration: none; }

.welcome .img-fluid {
  width: 100%; }

.welcome .welcome_text {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 40%;
  left: 35%; }
  .welcome .welcome_text .underline {
    margin-left: 60px; }

@media only screen and (max-width: 882px) {
  .empty {
    display: none; } }

@media only screen and (max-width: 1140px) {
  #user-friends {
    display: none; }
  #home-container {
    justify-content: space-around; } }

@media only screen and (max-width: 420px) {
  .welcome_text {
    left: 25% !important;
    color: black !important; }
    .welcome_text span {
      display: block; }
    .welcome_text .underline {
      margin-left: -20px !important; }
  .posts-size {
    width: 95vw !important;
    margin: 0px !important; }
  #home-container {
    padding-top: 3.5% !important; } }
