#home-container {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between; }
  #home-container .empty {
    width: 20vw;
    min-width: 100px;
    height: 100vh; }
  #home-container #user-friends {
    width: 30%;
    padding: 10px;
    border-left: 1px solid lightgray;
    height: 100%; }
    #home-container #user-friends .friends {
      height: 40vh;
      border-bottom: 1px solid lightgray; }
    #home-container #user-friends .users {
      margin-top: 4%; }
  #home-container a:hover {
    text-decoration: none; }
