li {
  list-style: none;
  margin-top: 10px; }
  li .post {
    max-width: 550px; }
  li .dropdown-toggle::after {
    content: none;
    display: none; }
  li .small {
    font-size: x-small !important; }
  li .card-post {
    padding-bottom: 10px !important;
    padding-top: 10px !important; }
    li .card-post .comments {
      float: right;
      margin-right: 10px; }

@media only screen and (max-width: 320px) {
  .email {
    font-size: small; } }
