#layout-main {
  background: radial-gradient(circle, #37cfd0 35%, #5b86e5 100%); }

.container-signIn .login-form {
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  height: 470px;
  width: 50vw;
  padding: 30px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(45deg, #020024 0%, #090979 100%, #043874 100%);
  border-radius: 20px; }
  .container-signIn .login-form .btnSubmit {
    font-weight: 600;
    width: 50%;
    color: #090979;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding: 2%; }
  .container-signIn .login-form .btnSubmit:hover {
    cursor: pointer;
    color: white;
    background: radial-gradient(circle, #3cd7e3 0%, #465ffc 100%); }
  .container-signIn .login-form .btnSubmit:focus {
    outline: none; }
  .container-signIn .login-form .btnForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none; }
  .container-signIn .login-form .social-login .social-login-label {
    text-align: center;
    padding: 4px;
    position: relative; }
    .container-signIn .login-form .social-login .social-login-label .label {
      position: relative;
      color: white;
      background-color: #050448; }
  .container-signIn .login-form .social-login .social-login-label:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 1px solid #b7c9cc;
    content: ""; }
  .container-signIn .login-form .social-login .social-login-body {
    text-align: center;
    margin-top: 10px; }
    .container-signIn .login-form .social-login .social-login-body .google {
      text-align: center;
      border-radius: 40px;
      padding: 15px 10 15px 15;
      background-color: white;
      margin-right: 20px; }
      .container-signIn .login-form .social-login .social-login-body .google .logo-google {
        position: relative;
        background-color: white;
        border-radius: 40px;
        margin-top: -5px;
        margin-left: -10px;
        padding: 6px;
        height: 40px;
        width: auto; }
    .container-signIn .login-form .social-login .social-login-body .google:hover {
      background-color: #4285F4; }
    .container-signIn .login-form .social-login .social-login-body .github {
      border-radius: 40px;
      background-color: white;
      padding: 15px 15px 15px 15; }
      .container-signIn .login-form .social-login .social-login-body .github .logo-github {
        background-color: white;
        margin-top: -4px;
        margin-left: -8px;
        border-radius: 20px;
        height: 40px;
        width: auto; }
    .container-signIn .login-form .social-login .social-login-body .github:hover {
      background-color: #191717; }
  .container-signIn .login-form .social-login .social-login-body a:hover {
    color: white;
    text-decoration: none; }
  .container-signIn .login-form .logo-container {
    margin-left: -20%;
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end; }
    .container-signIn .login-form .logo-container .login-logo img {
      margin-top: -267px;
      position: absolute;
      width: 10vw;
      background: linear-gradient(45deg, #060555 50%, #043874 100%);
      border-radius: 100px;
      padding: 32px; }

.container-signIn .login-form h1 {
  text-align: center;
  margin-bottom: 10%;
  color: #fff; }

@media only screen and (max-width: 420px) {
  .login-form {
    margin-top: 12% !important;
    height: 75vh !important;
    width: 90vw  !important;
    border-radius: 40px !important; }
  .login-logo img {
    margin-top: -315px !important;
    width: 25vw !important;
    padding: 22px !important; }
  .g-btn {
    display: block;
    margin-bottom: 25px; }
  .google {
    margin: 0px !important;
    padding-right: 25px !important; }
  .github {
    padding-right: 25px !important; }
  .btnSubmit {
    height: 40px; } }
