.container-signIn {
  width: 97vw; }
  .container-signIn .login-form {
    margin: auto;
    box-shadow: 5px 10px #888888;
    height: 80vh;
    padding: 30px;
    padding-right: 15px;
    padding-left: 15px;
    background: #282726; }
    .container-signIn .login-form .btnSubmit {
      font-weight: 600;
      width: 50%;
      color: #282726;
      background-color: #fff;
      border: none;
      border-radius: 1.5rem;
      padding: 2%; }
    .container-signIn .login-form .btnSubmit:hover {
      cursor: pointer;
      color: white;
      background-color: #03B5D1; }
    .container-signIn .login-form .btnForgetPwd {
      color: #fff;
      font-weight: 600;
      text-decoration: none; }
    .container-signIn .login-form .logo-container {
      margin-top: -170px;
      margin-left: -20%;
      width: 90%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end; }
      .container-signIn .login-form .logo-container .login-logo img {
        position: absolute;
        width: 20%;
        background: #282726;
        border-radius: 4.5rem;
        padding: 5%; }
  .container-signIn .login-form h1 {
    text-align: center;
    margin-bottom: 10%;
    color: #fff; }

.login-container {
  margin-top: 8%; }
