<div>
<h1>
    Change Your Password
</h1>
<br> 
<div>
    Here is the <a href="#">link</a> to reset your password,click
   <% if(oneTimeAccess.isvalid) { %>
      <a href="http://34.239.110.28:8000/users/resetPassword/?accesstoken=<%=oneTimeAccess.accesstoken%>">here</a>
      <% }else{ %>
         <a href="#"> click </a>           
     <% } %>
</div>
</div>